


<div class="container_banner">

    <div class="banner__section_img"
    style="background-image: url(../../../images/meva-cheva/header.png)"
    >

        <div class="banner_text">
            <h3>Ежедневный запас <br/>нужных витаминов</h3>
        </div>
    </div>

</div>
