

<div class="card">

    <a class="card_product">


        <div class="card_img"
             style="background-image: url(../../../images/meva-cheva/mevalar3.png)"
        ></div>

            <div class="description">
                <p class="info_product">
                    Фруктой салат с кокосом и вишней
                </p>
                <span class="price">
            93&nbsp;5000 Сум
        </span>
            </div>
            <div class="footer_card">
                <span>В корзину</span>
                <img src="../../../images/meva-cheva/savat.png" alt="" class="cart_icon">
            </div>


    </a>

</div>
