<header>

    <div class="container">

        <div class="header__section">

            <div class="right__header">

                <div class="logo">
                    <span>Mewa</span>
                </div>

                <ul class="menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>

            <div class="left__header">
                <div class="cart">
                    <img src="../../images/meva-cheva/icon3.png" alt="">
                    <span>5&nbsp;товаров</span>
                </div>
                <div class="toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>
