<header>
    <div class="wrap space-between">

        <div class="header_left space-between">
            <div class="logo">
                <img src="../../images/lesson/logo.svg" alt="">
            </div>
            <div class="navbar">
                <nav>
                    <ul>
                        <li>Menyu</li>
                        <li>Bolalar uchun</li>
                        <li>Filiallar</li>

                    </ul>
                </nav>
            </div>
        </div>
        <div class="header_right">

        </div>
<!--        <div class="container">-->
<!--             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut blanditiis commodi ea enim et exercitationem, fugit harum illo incidunt ipsa non praesentium quaerat saepe sapiente, suscipit, vel. Odit, optio!-->
<!--        </div>-->

<!--        <div class="main__left">-->
<!--            <div class="left__header">-->
<!--                <div class="logo__section">-->
<!--                    <img src="../../images/lesson/logo.svg" alt="">-->
<!--                </div>-->
<!--                <div class="menu__section">-->
<!--                    <ul>-->
<!--                        <li>Menyu</li>-->
<!--                        <li>Bolalar uchun</li>-->
<!--                        <li>Filiallar</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="main__right">-->
<!--            <div class="right__header">-->
<!--                <div class="left_phone_info">-->
<!--                    <img src="../../images/lesson/icons/call.svg" alt="" class="call">-->
<!--                    <div class="phone__number">-->
<!--                        <span>(+99871)</span>-->
<!--                        <span>200-54-00</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="left__brand__info">-->
<!--                    <img src="../../images/lesson/icons/cart.svg" alt="" class="cart">-->
<!--                    <div class="barnd_text">-->
<!--                        <span>Korzina</span>-->
<!--                        <span>125,400 UZS</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</header>