.container_banner{
  width: 100%;
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
  flex: 1;
  max-width: 1240px;


  .banner__section_img{
    width: 100%;
    padding-bottom: 30vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .banner_text{
    position: absolute;
    top: 0;
    font-weight: normal;
    letter-spacing: 1px;
    left: 0;
    font-size: 3rem;
    color: #FF9000;
    line-height: 4rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 15%;
    pointer-events: none;


  }
}
