header {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #58D000;
}


header .header__container {
  width: 100%;
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
  flex: 1;
  max-width: 1240px;

}

.header__container .header__section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;


  .right__header {
    display: flex;
    align-items: center;


    .logo{
      span{
        font-size: 1rem;
        line-height: 1rem;
        color: white;
        word-spacing: 10px;
        display: block;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 2px;
      }


    }


    .menu {
      display: flex;
      justify-content: flex-start;
      padding-left: 5rem;
      li{
        list-style: none;

        a{
          font-size: .8rem;
          line-height: 1rem;
          padding: 0 10px;
          color: white;

        }
      }

    }
  }

  .left__header{
    display: flex;
    align-items: center;
    background: #49C700;
    height: 100%;
    .cart{
      display: flex;
      align-items: center;
      padding: 0 10px;
      box-sizing: border-box;

      img{
        max-width: 20px;
        cursor: pointer;
      }

      span{
        font-size: .8rem;
        color: #ffffff;
        margin-left: 10px;
      }

    }
    .toggle{
      opacity: 0;
      visibility: hidden;
      width: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #3BBF00;
      height: 100%;
      align-items: center;
      padding: 20px 10px;

      span{
        display: block;
        height: 2px;
        background-color: white;
        width: 80%;
      }
    }
  }


}

