header{
  width: 100%;
  //position: relative;
  //z-index: 10;



  .header__section{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    height: 100px;
    justify-content: center;

    .main__left{
      width: 50%;
      display: flex;
      justify-content: flex-end;
      .left__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 620px;




        .left__header{
          img{
            width: 50px;
          }
        }


        .menu__section{

          ul{
            margin: 0;
            padding: 0;
            display: flex;


            li{
              list-style: none;
              padding: 0 15px;
              cursor: pointer;
              position: relative;

              &:after{
                content: "";
                width: 0;
                left: 0;
                position: absolute;
                transition: width .5s ease;
              }
              &:hover{

                &:after{
                  content: "";
                  width: 100%;
                  position: absolute;
                  left: 0;
                  bottom: -5px;
                  height: 2px;
                  background-color: #7E0A79;

                }
              }
            }

          }


        }

      }
    }

    .main__right {
      width: 50%;
      display: flex;
      align-items: center;
      //background-color: #7E0A79;
      justify-content: flex-start;
      .right__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 620px;


        .left_phone_info{
          display: flex;
          padding: 0 20px;
          width: 50%;
          position: relative;

          &:after{
            content: '';
            position: absolute;
            width: 1px;
            right: 10%;
            height: 100%;
            background-color: white;

          }

          .call{
            width: 15px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: -5px;
          }

          .phone__number{
            display: flex;
            flex-direction: column;


            span:nth-child(2){
              color: white;
              font-size: 1.2rem;
            }

            span:nth-child(1){
              color: #c1b0c0;
              font-size: .8rem;
              line-height:1rem;
              margin-bottom: 2px;
            }
          }

        }
        .left__brand__info{
          display: flex;
          //padding: 0 20px;
          width: 50%;

          .cart{
            width: 15px;
            margin-right: 10px;
            margin-left: 10px;
            margin-top: -5px;
          }

          .barnd_text{
            display: flex;
            flex-direction: column;

            span:nth-child(1){
              color: white;
              font-size: 1.2rem;
            }

            span:nth-child(2){
              color: #c1b0c0;
              font-size: .8rem;
              line-height:1rem;
              margin-bottom: 2px;
            }
          }
        }

      }
    }



  }

}