:root {
  --main-font: "NotoSans", sans-serif;
}

body {
  font-size: 16px;
  color: #000000;
  font-family: 'Roboto Mono', monospace;
  font-family: var(--main-font);
  line-height: 20px;
  background-color: #FFFFFF;
}




//@import "./header";
//@import "./banner";
//@import "./product_section";
@import "./header2";







.wrap {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  //width: 100%;
  //padding-right: 35px;
  //padding-left: 35px;
  //margin-right: auto;
  //margin-left: auto;
  //flex: 1;
  //max-width: 1240px;

}

.d-flex{
  display: flex;
  align-items: center;
}
.space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


//====================================== //



header{
  padding: 23px 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  .header_left{
     width: 55%;

    .navbar{
        nav{
           ul{
             display: flex;
             align-items: center;
             li{
               margin-right: 40px;
             }
           }
        }
    }

  }
  .header_right{
    width: 45%;
    height: 50px;

  }
}

h1,p{
  margin: 0;
}
.main-banner{
  width: 100%;
  height: 100vh;


  .wrap{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;

    .hamburger{
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 60%;
      height: 70%;
      z-index: 10;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .banner-content{
        width: 55%;
        h1{
          font-size: 100px;
          line-height: normal;
          margin-bottom: 15px;
        }
        p{
          font-size: 18px;
          max-width: 50%;
          line-height: 32px;
        }

    }
  }

  &:after{
    content: "";
    display: block;
    width: 45%;
    height: 100%;
    background: #7E0A79;
    position: absolute;
    top: 0;
    right: 0;
  }
}

//====================================== //




@media (max-width: 992px) {
  .card {
    width: 33.3333%;

    .description {
      padding: 10px 25px;

      .info_product {
        font-size: .8rem;
        line-height: 1rem;
        margin-bottom: 2rem;

      }

      .price {
        font-size: .8rem;
      }
    }
  }

  .container_banner {

    .banner__section_img {
      padding-bottom: 35vw;
      object-fit: contain;
      background-position: center;

      .banner_text {
        font-size: 2.5rem;
        line-height: 3rem;
      }
    }
  }
  .product_section h3{
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .card {
    width: 50%;

    .description {
      padding: 10px 20px;

      .info_product {
        font-size: .8rem;
        line-height: 1rem;
        margin-bottom: 0rem;

      }

      .price {
        font-size: .8rem;
      }
    }
  }

  .product_section h3{
    font-size: 1.3rem;
  }

  .container_banner {
    width: 100%;
    padding-right: 0;
    padding-left: 0;

    .banner__section_img {
      padding-bottom: 40vw;
      object-fit: cover;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      .banner_text {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

  }

  header .header__container {

    padding-right: 0;
    padding-left: 20px;

    .header__section {
      .right__header .menu {

        display: none;


        }

      .left__header {
        .cart {

          span {
            display: none;
          }
        }

        .toggle {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .container{
    padding-right: 15px;
    padding-left: 15px;
  }


}





@media (min-width: 576px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width: 1200px) {
  .container {

    max-width: 1240px;

  }
}


