
.product_section {
  width: 100%;

  h3 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: "Arial Narrow";
    opacity: .8;
    margin-bottom: 2rem;
    margin-top: 2rem;

  }


}

.product_row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
}

.card{
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2rem;



  .card_product {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 22px 91px 0 rgba(0, 0, 0, .1);
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;

    &:hover{
      box-shadow: 1px 22px 91px 0 rgba(0,0,0,.2);
    }

  }




  .card_img {
    width: 100%;
    padding-bottom: 70%;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 0px 40px;
    border-bottom-right-radius: 0px 40px;
  }



    .description {
      padding: 10px 30px;
      box-sizing: border-box;
      display: block;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;

      .info_product{
        display: block;
        color: #3BBF00;
        font-size: 1rem;
        line-height: 1.5rem;

      }
      .price{
        opacity: .8;
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
      }
    }

    .footer_card{
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      border-top: 2px solid #f1f1f1;
      margin-bottom: 0;
      margin-top: 1rem;
      align-items: center;

      span{
        font-size: .8rem;
        font-weight: bolder;
      }

      img{
        width: 20px;
        cursor: pointer;
      }

    }

}
