{% set title = "Page | Title" %}

{% extends "main.tpl" %}

{% block content %}
<div>
  {% include "./components/banner.html" %}


  <div class="container">

    <div class="product_section">
      <h3>Популярное</h3>
    </div>

      <div class="product_row">
        {% include "./components/product-card.html" %}
        {% include "./components/product-card.html" %}
        {% include "./components/product-card.html" %}
        {% include "./components/product-card.html" %}
        {% include "./components/product-card.html" %}
        {% include "./components/product-card.html" %}
        {% include "./components/product-card.html" %}
        {% include "./components/product-card.html" %}
      </div>
  </div>

</div>
{% endblock%}

{% block scripts %}
<script>

</script>
{% endblock%}
