{% set title = "Page | Title" %}

{% extends "main.tpl" %}

{% block content %}
<div>

    <div class="main-banner">
            <div class="wrap" id="wrap">

                <div class="hamburger">
                    <img src="../../images/lesson/hamburger.png" alt="">
                </div>


                <div class="banner-content">
                    <h1>Siz izlagan mazzali ta’mlar</h1>
                    <p>When an unknown printer took a galley of type scrambled it to make a type specimen </p>

                    <div class="set-box">

                    </div>
                </div>
            </div>
    </div>

</div>

<br><br><br><br><br><br><br><br><br><br>
{% endblock%}

{% block scripts %}
<script>

</script>
{% endblock%}
